* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
  :root {
    --primary: #99b898;
    --secondary: #fecea8;
    --tertiary: #ff847c;
    --quaternary: #e84a5f;
    --quinary: #2a363b;
  }

  body {
      color: black;
      background-color: var(--secondary);
      font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  header {
      background-color: var(--quaternary);
      padding: 15px 30px;
      display: flex;
      justify-content: left;
      position: -webkit-sticky;
      top: 0;
  }

  /* MAIN styling Start */
  .container {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
  }

  #box {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      padding: 20px;
      border: solid;
      flex-wrap: wrap;
      text-align: center;
      width: 70%;
  }

  main h2 {
      font-weight: bold;
      flex-wrap: wrap;
      font-size: 60px;
  }

  main h3 {
      font-weight: bold;
      flex-wrap: wrap;
      font-size: 28px;
  }

  #styled {
      text-decoration: underline;
      font-style: italic;
      padding-bottom: 15px;
  }

  main p {
      font-size: 24px;
      flex-wrap: wrap;
      text-align: justify;
      padding-bottom: 15px;
  }

  button {
    background-color: var(--quaternary);
    border: none;
    border-radius: 15px;
    font-size: 20px;
  }

/* Quiz box (div to replace initial load screen) styling Start */
.display-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 20px;
}  

.introduction button {
    border: none;
    padding: 20px 30px;
  }

  .quiz-form button {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 10px 15px;
      margin-top: 5px;
      width: 100%;
      display: block;
  }

  /* footer Start*/
  footer {
    position: fixed;
    bottom: 15px;
    left: 15px;
}

